<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
        <head>
        <meta charset="UTF-8">
        <title>userUpdate</title>
</head>
<body>
<form action="#" th:action="@{/{id}}" th:method="PATCH" th:object="${user}">
    <label for="id">ID</label>
    <input readonly name="id" th:field="*{id}" type="number" id="id">
    <br>
    <label for="name">Name</label>
    <input name="name" th:field="*{name}" type="text" id="name">
    <br>
    <label for="age">Age</label>
    <input name="age" th:field="*{age}" type="text" id="age">
    <br>
    <input type="submit" value="Update">
    <form action="/" th:method="get">
        <input type="submit" value="Back">
    </form>
</form>

</body>
</html>
</title>
</head>
<body>

</body>
</html>